.app {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100vw;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
.block-header {
  width: 50%;
}

/* centering */
.ui.grid > .row {
  flex-direction: column !important;
  align-items: center !important;
}
.ui.grid > .row.normal {
  flex-direction: row;
  align-items: stretch;
}
.ui.selection.dropdown {
  margin-right: 0.25vw;
}

/* size */
.ui.button, .ui.selection.dropdown {
  width: 15vw;
}
.ui.button.back {
  width: 15vw !important;
}
.ui.stacked.segments {
  width: 50vw;
}

/* margin */
.mt-5 {
  margin-top: 5vh !important;
}
.mt-mid {
  margin-top: 1.5vh !important;
}